@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #222;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  letter-spacing: .5px;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #111;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header__logo {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.header__authoriz-item {
  text-decoration: none;
  color: #fff;
}

.header.fixed {
  position: fixed;
  background-color: #000;
  height: 50px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #F26B38;
  font-size: 18px;
  margin-left: 25px;
}

.nav__item-01 {
  border: 1px solid #F26B38;
  padding: 10px 30px;
  border-radius: 20px;
}

.nav__item-01:hover {
  background-color: #F26B38;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__item-02 {
  background-color: #F26B38;
  color: #fff;
  padding: 10px 30px;
  border-radius: 20px;
}

.nav__item-02:hover {
  opacity: .7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__item-03 {
  color: #fff;
}

.nav__item-03:hover {
  color: #F26B38;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Burger */
.burger {
  display: none;
  padding: 9px 2px;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #F26B38;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  background-color: #F26B38;
  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 30px;
  top: -8px;
}

.burger__item:after {
  width: 26px;
  bottom: -8px;
}

@media (max-width: 740px) {
  .nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #dae2f5;
    width: 100%;
  }
  .nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: block;
  }
  .nav__item {
    padding: 10px 30px;
    margin: 10px 15px 20px 0px;
    font-size: 24px;
    font-weight: 500;
  }
}

.intro {
  background-color: #111;
  padding: 200px 0px 100px 0px;
}

.intro__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__info-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-right: 20px;
}

.intro__info-text h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.intro__info-text h2 {
  font-size: 18px;
  font-weight: 400;
}

.intro__info-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  overflow: hidden;
  max-height: 300px;
}

.intro__info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__info-title {
  color: #F26B38;
}

.intro__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.intro__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin: 15px;
}

.intro__description-item img {
  width: 40px;
  height: 60px;
  margin-bottom: 10px;
}

.intro__description-item p {
  font-size: 16px;
  max-width: 70%;
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 600px) {
  .intro {
    padding: 100px 0px 50px 0px;
  }
  .intro__info-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
  .intro__info-img {
    display: none;
  }
  .intro__description {
    display: block;
  }
  .intro__description-item {
    margin-bottom: 25px;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: none;
  z-index: 1000;
}

.popup {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222;
  border-radius: 2px;
}

.popup h2 {
  text-align: center;
  color: #F26B38;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #F26B38;
  position: absolute;
  height: 2px;
  width: 31px;
  top: 11px;
  left: -4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #F26B38;
  position: absolute;
  height: 2px;
  width: 31px;
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
}

@media screen and (max-width: 600px) {
  .popup {
    width: 100%;
    height: 100vh;
    font-size: 15px;
  }
}

.authorised__form {
  max-width: 300px;
  margin: 0 auto;
}

.authorised__form-title {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.authorised__form-input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid #b0bcd6;
}

.authorised__form-input:focus {
  border: 1px solid #F26B38;
}

.authorised__form-checkbox {
  width: 15px;
  height: 15px;
}

.authorised__form-label {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.authorised__form-btn {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  margin: 20px 0;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #F26B38;
}

.authorised__form-login a {
  color: #F26B38;
}

.repairs {
  padding: 50px 0px 100px;
}

.repairs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repairs__item {
  margin: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.repairs__item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 15px;
  border-radius: 2px 2px 0px 0px;
}

.repairs__item-text {
  text-align: center;
  padding: 0 10px 30px 10px;
}

.repairs__item-title {
  color: #F26B38;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.repairs__item-subtitle {
  font-size: 16px;
  font-weight: 500;
}

.repairs__item-inner {
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px -2px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 4px -2px rgba(255, 255, 255, 0.6);
  height: 100%;
}

@media (max-width: 700px) {
  .repairs__inner {
    display: block;
  }
  .repairs__item {
    margin: 0 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }
  .repairs__item img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin-bottom: 15px;
    border-radius: 2px 2px 0px 0px;
  }
}

.info {
  padding: 50px 0px 100px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info__column-img {
  position: relative;
}

.info__column-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.info__column-img p {
  font-size: 24px;
  position: absolute;
  left: 20px;
  bottom: 40px;
  color: #fff;
}

.info__img {
  margin-left: 20px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__text h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.info__text p {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 700px) {
  .info__inner {
    display: block;
  }
  .info__img {
    margin-top: 20px;
    margin-left: 0px;
  }
}

.main-container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  padding: 100px 0px;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-right: 20px;
}

.greeting__info {
  background-color: #333;
  padding: 30px 15px 30px 30px;
  margin-bottom: 10px;
}

.greeting__title {
  font-size: 16px;
  margin-bottom: 5px;
}

.greeting__name {
  font-size: 20px;
  font-weight: 500;
}

.greeting__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greeting__menu-item {
  font-size: 16px;
  margin-bottom: 6px;
  background-color: #333;
  padding: 15px 15px 15px 30px;
  color: #fff;
}

.greeting__menu-active {
  background-color: #222;
  position: relative;
  color: #F26B38;
}

.greeting__menu-active span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #F26B38;
}

.main-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.main-info__row {
  background-color: #333;
  padding: 30px 30px;
}

.main-info__row {
  margin-bottom: 10px;
}

.main-info__title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-info__subtitle {
  font-size: 18px;
  max-width: 70%;
}

.request__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.request__item-row:last-child {
  margin-bottom: 0px;
}

.request__item-num {
  margin-bottom: 10px;
}

.request__item-status {
  background-color: #2fa356;
  color: #fff;
  padding: 10px 25px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__item-img {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 200px;
  margin-right: 20px;
}

.request__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.request__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 18px;
}

.request__item-text-auto {
  margin-bottom: 10px;
  font-size: 24px;
}

.request__item-text-name {
  margin-bottom: 10px;
}

.request__item-text-criteria {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 24px;
}

.request__item-text-criteria b {
  line-height: 24px;
}

.request__item-category {
  font-size: 20px;
  color: #F26B38;
}

.request__item-btn {
  border: 1px solid #F26B38;
  padding: 10px 25px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.request__item-btn:hover {
  background-color: #F26B38;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media (max-width: 700px) {
  .main-container {
    display: block;
  }
  .sidebar {
    margin-right: 0px;
  }
  .request__item-row {
    display: block;
  }
  .request__item-text {
    margin-top: 20px;
  }
  .request__item-category {
    margin-bottom: 20px;
  }
  .request__item-img {
    margin-right: 0px;
  }
  .request__item-status {
    margin-top: 10px;
  }
}

.tasks {
  padding: 50px 0px;
}

.tasks__inner h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px -2px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 4px -2px rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.tasks__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  height: 250px;
  overflow: hidden;
  margin-right: 20px;
}

.tasks__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px 0px 0px 2px;
}

.tasks__item-info {
  margin-top: 20px;
}

.tasks__info-name-auto {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.tasks__info-name {
  font-size: 18px;
  margin-bottom: 20px;
}

.tasks__info-criteria b {
  margin-bottom: 10px;
  line-height: 20px;
}

.tasks__info-criteria p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}

.tasks__info-result b {
  margin-bottom: 10px;
  line-height: 20px;
}

.tasks__info-result p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}

@media (max-width: 700px) {
  .tasks {
    padding: 50px 0px;
  }
  .tasks__inner h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .tasks__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 4px -2px rgba(255, 255, 255, 0.6);
            box-shadow: 0px 0px 4px -2px rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
  }
  .tasks__item-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    height: 250px;
    overflow: hidden;
    margin-right: 0px;
  }
  .tasks__item-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 2px 0px 0px 2px;
  }
  .tasks__item-info {
    padding: 10px;
    margin-top: 20px;
  }
  .tasks__info-name-auto {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .tasks__info-name {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .tasks__info-criteria span {
    margin-bottom: 10px;
  }
  .tasks__info-criteria p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .tasks__info-result span {
    margin-bottom: 10px;
  }
  .tasks__info-result p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.bark {
  max-width: 450px;
}

.bark__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.bark__subtitle {
  font-size: 16px;
  padding-bottom: 20px;
}

.footer {
  padding: 30px 0;
  background-color: #111;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 30px;
}

.footer__item img {
  width: 60px;
  height: 60px;
}

.footer__item img:hover {
  opacity: .8;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__contacts {
  padding-top: 20px;
  text-align: center;
}

.footer__contacts-item {
  margin: 5px 0;
}
